/*variable*/

:root {
    --color-dynamic: #d11f3d;

    --h_main-nav: 76px;

}

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');

/*font-family: 'Noto Sans', sans-serif;*/





body {
    font-family: 'Noto Sans', sans-serif;

}

li {
    list-style: none;
}

    a {
        color: #000;

    }

p,a,ul {
    margin: 0;
    padding: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.row.slim {
    margin-left: 0;
    margin-right: 0;
}

.row.slim > [class^="col-"], .slim > [class*=" col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}



/*start header*/

.header {
    position: relative;

    padding-top: 25px;
    padding-bottom: 50px;

    box-shadow: 0 3px 25px rgba(30, 30, 28, 0.4);
    -webkit-box-shadow: 0 3px 25px rgba(30, 30, 28, 0.4);
    -moz-box-shadow: 0 3px 25px rgba(30, 30, 28, 0.4);
}

    .header__top-block {

    }

    .header .header__logo {

    }

    .header .header__inner-contacts { /* Контакты в шапке */
        display: flex;
        justify-content: end;
    }

        .header .header__inner-contacts a:first-child {
            margin-right: 35px;
        }

        .header .header__inner-contacts a {
            display: flex;
            align-items: center;
        }


            .header .header__inner-contacts a>svg
            {
                margin-right: 20px;

                fill: var(--color-dynamic);
            }

            .header .header__inner-contacts a>p {
                font-size: 25px;
                font-weight: 700;
            }

                .header .header__inner-contacts a>p>span {
                    color: var(--color-dynamic);
                }

/*end header*/


/*start main-nav*/

    .main-nav .header__bottom-block {
        position: relative;
        bottom: calc(var(--h_main-nav) / 2);
    }

    .main-nav .header__nav { /* Основное меню */

    }

        .main-nav .header__nav ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: var(--h_main-nav);

            border-radius: 5px 0px 0px 5px;

            background-color: var(--color-dynamic);

        }

            .main-nav .header__nav ul li {

            }

                .main-nav .header__nav ul li a {
                    color: #fff;
                    font-size: 20px;
                }

    .main-nav .header__nav-request-offer { /* Запросить предложение */
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        height: var(--h_main-nav);

        background: #2f2e2c;
        border-radius: 0px 5px 5px 0px;

        color: #fff;
        font-size: 20px;
    }

        .main-nav .header__nav-request-offer::before {
            content: '15';
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            right: -15px;
            top: -15px;

            width: 30px;
            height: 30px;


            background-color: var(--color-dynamic);
            border-radius: 50%;

            font-size: 18px;
        }

/*end main-nav*/


.wrap-block-search {

}

    .block-search {

    }

        .block-search input {
            width: 100%;
            height: 75px;
            padding-left: 65px;

            background: url(../img/icons/i_search.svg) 30px no-repeat;
            border-radius: 5px;
            border: none;


            box-shadow: 0 1px 30px rgba(30, 30, 28, 0.1);
            -webkit-box-shadow: 0 1px 30px rgba(30, 30, 28, 0.1);
            -moz-box-shadow: 0 1px 30px rgba(30, 30, 28, 0.1);
        }

        .block-search input::placeholder {
            color: #bbb;
            font-weight: 700;
        }




.block-main-info {
    margin-top: 50px;
    margin-top: 60px;

    font-size: 18px;
}

    .block-main-info p {
        margin-bottom: 50px;
    }

        .block-main-info p:last-child {
            padding-bottom: 0;
        }

    .block-main-info p>span {
        color: var(--color-dynamic);
        font-weight: 700;
        text-transform: uppercase;
    }





.main-category {
    margin-bottom: 110px;
    margin-top: 60px;
}

    .main-category .item {
        font-size: 22px;
    }

    .main-category .item img {
        width: 100%;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    }

    .main-category .item p {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-top: 30px;
        padding-bottom: 30px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);

    }

        .main-category .item p::before {
            content: '';
            position: absolute;

            left: 45px;
            width: 7px;
            height: 50px;
            border-radius: 5px;
            background-color: #00cf03;
        }

            .main-category .two p::before {
                background-color: #d11f3d;
            }

            .main-category .three p::before {
                background-color: #f9dc30;
            }

            .main-category .item p>span {
            font-weight: 700;
        }





.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    min-height: 75px;

    background-color: var(--color-dynamic);
}

    .footer h3 {
        text-align: center;
        font-size: 18px;
        color: #fff;
    }
